# IDE
.idea/
.vscode/

# App folders
target/
tmp/
logs/
data/
tests/
.env/
.venv/
.terragrunt-cache/
.terraform/
__pycache__/

# Files
.env
app.conf.yml
*.log
ops/terraform/utils/json/*.json
terraform.tfstate
.postgres_backend_uri*
.coverage
coverage.xml

# System files
.DS_Store
Thumbs.db
