# Vault
VAULT_ROOT_TOKEN="changeme"
VAULT_UNSEAL_KEY="changeme"

# Postgres
POSTGRES_PASSWORD="changeme"

# Terraform
TERRAFORM_DB_USER="terraform"
TERRAFORM_DB_PASSWORD="changeme"
TERRAFORM_DB_NAME="terraform"
